<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Meus pokemons</title>

        <link href="../styles/index.css" rel="stylesheet"/>
    </head>
    <body>
        <header class="titulo">
            <h1>PokeAPI</h1>
            <div>
                <img 
                    src="https://avatars.githubusercontent.com/u/70910412?s=460&u=ccf9003b6bfd3ce4f0dee9c2bf9e9e9f7557a2b9&v=4"
                    alt="foto"
                    width="300px"/>
                <span>Minha conta</span>
            </div>
        </header>
        <main>
            <div id="pesquisa">
                <input type="text" placeholder="qual pokemon ?"/>
            </div>

            <section class="lista">
                <div class="pokemon">
                    <strong>pokemon</strong>
                    <img src="" />
                </div>
                <div class="pokemon">
                    <strong>pokemon</strong>
                    <img src= "../public/img/pikachu.jpg" alt="desenho do pikachu dando um olá" width="200px"/>
                </div>
                <div class="pokemon">
                    <strong>pokemon</strong>
                    <img src= "../public/img/pineco.png" alt="pokemon pineco cascalho empedrado" width="200px"/>
                </div>
            </section>

            <form class="form" method="POST" action="/enviar-mensagem">
                <h2>Entre em contato conosco</h2>
                <label for="name">Nome: </label>
                <input 
                    type="text" 
                    name="name" 
                    id="name"
                />

                <label for="email">Email: </label>
                <input 
                    type="email" 
                    name="email" 
                    id="email"
                />

                <label for="email">Comentário: </label>
                <textarea 
                        name="comentario" 
                        id="comentario" 
                        rows="8" 
                        placeholder="Digite o seu comentário aqui"
                        maxlength="100"
                ></textarea>

                <button type="submit">Enviar mensagem</button>
            </form>
        </main>
        <footer>
            <span>Desonvolvido por Fabiano Sant'Anna</span>
        </footer>
    </body>
</html>