<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Meus pokemons</title>
    </head>
    <body>
        <header>
            <h1>PokeAPI</h1>
            <div>
                <img 
                    src="https://avatars.githubusercontent.com/u/70910412?s=460&u=ccf9003b6bfd3ce4f0dee9c2bf9e9e9f7557a2b9&v=4"
                    alt="foto"
                    width="300px"/>
                <span>Minha conta</span>
            </div>
        </header>
        <main>
            <div>
                <label>Pokemon: </label>
                <input type="text" placeholder="qual pokemon ?"/>
            </div>

            <section>
                <div>
                    <strong>pokemon</strong>
                    <img src="" />
                </div>
                <div>
                    <strong>pokemon</strong>
                    <img src= "img/pikachu.jpg" alt="desenho do pikachu dando um olá" width="200px"/>
                </div>
                <div>
                    <strong>pokemon</strong>
                    <img src= "img/pineco.png" alt="pokemon pineco cascalho empedrado" width="200px"/>
                </div>
            </section>
        </main>
        <footer>
            <span>Desonvolvido por Fabiano Sant'Anna</span>
        </footer>
    </body>
</html>